#datospersonales {
    font-size:1em;
    background-color:rgb(0, 0, 0);
    color: white;
    width:200px;
}

#datos_de_usuario {
    font-size:1em;
    background-color:rgb(0, 0, 0);
    color: white;
    width:200px;
}

#guardarcambioseditar {
    background-color: red;
    color: white
}

#editar_usuario2{
    display: flex;
}

#datos1 p{
    color:rgb(0, 0, 0);
    background-color:rgba(7, 7, 7, 0.068);
    font-size:1.2em;
    padding: 1em;
}

#datosusuario{
    width:500px
}
#datosusuario2{
    width:500px
}

#datos1{
    display: flex;
    align: center;
}
