body {
    background-color: #F9B006;
}

header{
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
}

#empresa{
    margin-left: 0px;
    width: 300px;
}

#empresa p {
    font: engraverse-bold;
    font-size: 50px;
    text-align: left;
    margin: auto;
    padding-top: 3px;
    text-indent: 1.5%;
}

footer {
    background-color: black;
    height: 80px;
}

div{
    margin: 0;
}
