{% extends 'layout1.html' %} {% block perfil %}
<div id="usuario">
  <p>{{user}}</p>
</div>
{% endblock %} {% block cuerpo %}
<section class="pantalla_dividida">
  <div id="dashboard1">
    <div id="img">
      <img src={{ url_for('static', filename='Assets/staff.jfif') }} alt="">
    </div>
    <div>
      <form action="/definicion_listar" method="POST">
        <input type="submit" name="listar" value="GESTIONAR EMPLEADOS" id="le" />
      </form>
    </div>
  </div>
  <div id="dashboard2">
    <div id="estadisticas">
      <p>ESTADÍSTICAS</p>
    </div>
    <div>
      <select name="dependencias" id="dep">
        <option value="" selected disabled hidden>DEPENDENCIA</option>
        <option value="gerencia">Gerencia</option>
        <option value="recursos_humanos">Recursos Humanos</option>
        <option value="atencion_cliente">Atención al Cliente</option>
        <option value="contabilidad">Contabilidad</option>
      </select>
    </div>
    <div>
      <div class="divisiones">
        <div class="etiquetas">
          <p>Cantidad de Empleados</p>
        </div>
        <div class="variables">{{empleados}}</div>
      </div>
      <div class="divisiones">
        <div class="etiquetas">
          <p>Cargos</p>
        </div>
        <div class="variables">{{cargos}}</div>
      </div>
      <div class="divisiones">
        <div class="etiquetas">
          <p>Cantidad de Objetivos Establecidos</p>
        </div>
        <div class="variables">{{establecidos}}</div>
      </div>
      <div class="divisiones">
        <div class="etiquetas">
          <p>Cantidad de Objetivos Cumplidos</p>
        </div>
        <div class="variables">{{cumplidos}}</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
