{% extends 'layout1.html' %}
{% block perfil %}
<div id="usuario">
    <p>{{user}}</p>
</div>
{% endblock %}
{% block cuerpo %}
<section>
    <div>
        <form action="/registrar_usuarios" method="POST" onSubmit="return enviar_usuario_nuevo()">
            <input type="submit" name="usuario_nuevo" value="USUARIO NUEVO" id="un"/>
        </form>
    </div>
    <div>
        <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
            <input type="submit" name="ver_informacion" value="VER INFORMACIÓN" id="vi"/>
        </form>
    </div>
    <div>
        <form action="" method="" onSubmit="">
            <input type="submit" name="asignar_rol" value="ASIGNAR ROL" id="ar"/>
        </form>
    </div>
</section>
{% endblock %}