{% extends 'layout1.html' %}
{% block perfil %}
<div id="usuario">
    <p>{{user}}</p>
</div>
{% endblock %}
{% block cuerpo %}
<section>
<br> <br>
<div>
<form action="/atras_ad" method="GET">
    <input type="submit" name="" value="ATRÁS" id="atras_listarusuario"/>
</form>
</div>
<br><br>
    <div>
        <form action="/registrar_usuarios" method="GET" onSubmit="return enviar_usuario_nuevo()">
            <input type="submit" name="usuario_nuevo" value="USUARIO NUEVO" id="un"/>
        </form>
    </div>
    <br><br>
    <!--<form action="/listar_admi" method="POST">
    <center><div id="buscar_usuario">
    <label>Buscar cédula <input type="text" id="BuscarUsuario" name="BuscarUsuario"></label>
    </div></center>
    <input type="submit" name="buscar_super" value="BUSCAR" id="buscar_super"/>
    </form>-->
    <div>
        <form action="/editar_admi" method="GET">
        <input type="submit" name="ver_informacion" value="EDITAR INFORMACIÓN DE EMPLEADOS" id="un"/>
        </form>
    </div>
    <br> <br>
    <div>
        <form action="/eliminar" method="GET">
        <input type="submit" name="ver_informacion" value="ELIMINAR USUARIO" id="un1"/>
        </form>
    </div>
<!--<br><br>
   <center> <div id="ListarUsuarios">
        <table class="Listar">
            <tr>
                <th scope="row">NOMBRE</th>
                <th>DOCUMENTO</th>
                <th></th>
                
              </tr> 

            <tr>
             <td>{{nya}}</td>
                <td>{{cedula}}</td>
                <td>
                    <form action="/editar_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="EDITAR INFORMACIÓN" id="vi"/>
                    </form>
                </td>
            </tr>
            <!-- <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 2</td>
                <td> IDENTIFICACIÓN 2</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 2" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 3</td>
                <td> IDENTIFICACIÓN 3 </td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 3" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 4</td>
                <td> IDENTIFICACIÓN 4</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 4" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 5</td>
                <td> IDENTIFICACIÓN 5</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 5" id="vi"/>
                    </form>
                </td>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 6</td>
                <td> IDENTIFICACIÓN 6</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 6" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 7</td>
                <td> IDENTIFICACIÓN 7</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 7" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 8</td>
                <td> IDENTIFICACIÓN 8</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 8" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 9</td>
                <td> IDENTIFICACIÓN 9</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 9" id="vi"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>NOMBRE Y APELLIDOS DEL USUARIO 10</td>
                <td> IDENTIFICACIÓN 10</td>
                <td>
                    <form action="/verinfo_admi" method="POST" onSubmit="return enviar_verinfo()">
                    <input type="submit" name="ver_informacion" value="VER INFORMACIÓN 10" id="vi"/>
                    </form>
                </td>
            </tr> 
        </table>    
    </div> </center>
    <br> <br>


<div id=totalregistros>    
<strong> <p>Total registros: XX</p> </strong>-->
</section>
{% endblock %}