{% extends 'layout1.html' %}
{% block perfil %}
<div id="usuario">
    <p>{{user}}</p>
</div>
{% endblock %}
{% block cuerpo %}
<section id="verinfo_admi">
    <div id="verinfo_admi1">
        <div>
            <p>Nombre (s)</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Número identificación</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Telefono fijo</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Celular</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Dependencia</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Fecha de ingreso</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Fecha de terminación de contrato</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Tipo de contrato</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
        <div>
            <p>Cargo</p>
            <div class="verinfo_admid">
            <p>{{temporal}}</p>
        </div>
        </div>
    </div>
    <div id="verinfo_admi2">
        <div id="verinfo_admib">
            <div>
                <form action="/eliminar" method="POST" onSubmit="return enviar_eliminar()">
                    <input type="submit" name="eliminar" value="ELIMINAR" id="el"/>
                </form>
            </div>
            <div>
                <form action="/editar_admi" method="POST" onSubmit="return enviar_editar()">
                    <input type="submit" name=" EDITAR" value="EDITAR" id="ed"/>
                </form>
            </div>
        </div>
        <div>
            <div>
                <p>Apellidos</p>
                <div class="verinfo_admid">
                <p>{{temporal}}</p>
            </div>
            </div>
            <div>
                <p>Correo personal</p>
                <div class="verinfo_admid">
                <p>{{temporal}}</p>
            </div>
            </div>
            <div>
                <p>Dirección</p>
                <div class="verinfo_admid">
                <p>{{temporal}}</p>
            </div>
            </div>
            <div>
                <p>Salario</p>
                <div class="verinfo_admid">
                <p>{{temporal}}</p>
            </div>
            </div>
            <div>
                <p>Usuario</p>
                <div class="verinfo_admid">
                <p>{{temporal}}</p>
            </div>
            </div>
            <div id="b1">
                <button type="button">Objetivos establecidos</button>
            </div>
            <div id="b2">
                <button type="button">Objetivos cumplidos</button>
            </div>
            <div>
                <p>Reseña desempeño</p>
                <textarea id="w3review" name="w3review" rows="4" cols="50"  readonly>{{temporal}}</textarea>
            </div>
        </div>
    </div>
</section>
{% endblock %}